@page
@model MiniProject.Pages.Patients.IndexModel

<h2>Patients</h2>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>@item.Name</td>
            <td>@item.DateOfBirth.ToShortDateString()</td>
            <td>@item.Gender</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                <div class="btn-group" role="group">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info" title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger" title="Delete">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a asp-page="/Appointments/Create" asp-route-patientId="@item.Id" class="btn btn-sm btn-outline-success" title="Book Appointment">
                        <i class="bi bi-calendar-plus"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
